body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(#ffffff, #caf0f8);
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-transform: uppercase;
}
h1 {
    color: #03045e;
    font-family: 'livvic';
    font-weight: 800;
    margin-bottom: 75px;
    margin-left: -17.5px;
}
h4 {
    color: #03045e;
    font-family: 'livvic';
    font-weight: 500;
    font-size: 20px;
    text-transform: lowercase;
    text-transform: capitalize;
}
p {
    color: #03045e;
    font-family: 'livvic';
    font-weight: 500;
    font-size: 15px;
    opacity: 50%;
    text-transform: lowercase;
}
.result {
    margin-top: 60px;
    height: 50px;
    width: 550px;
    border-style: none;
    border-radius: 40px;
    text-align: center;
}
button{
    margin-top: 60px;
    background-color: #48cae4;
    color: #ffffff;
    border-style: none;
    height: 50px;
    width: 120px;
    border-radius: 90px;
    font-size: 20px;
    font-family: "livvic";
    font-weight: 500px;
}
button:focus {
    outline: none;
}
.box {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}
label {
    color: #03045e;
}
.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container2 input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 90px;
    background-color: transparent;
    border-style: solid;
    border-color: #03045e;
    border-width: 1px;
}
.container2 input[type="checkbox"]:checked ~ .checkmark {
    background-color: #48cae4;
    border-style: none;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container2 input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

.container2 .checkmark:after {
    left: 8.5px;
    top: 4.5px;
    width: 7.5px;
    height: 12.5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container2 input[type="number"]{
    height: 25px;
    width: 25px;
    border-radius: 90px;
    font-size: 13px;
    background-color: #48cae4;
    color: #ffffff;
    border-style: none;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    float: left;
    margin-right:10px ;
    margin-left:-33px
}
.container2 input[type="number"]:focus{
    background-color: #ffffff;
    color: #03045e;
    border-style: solid;
    border-color: #03045e;
    outline: none;
    
}
.blue-btn{
    margin-top: 60px;
    background-color: #03045e;
    color: #ffffff;
    border-style: none;
    height: 50px;
    width: 120px;
    border-radius: 90px;
    font-size: 20px;
    font-family: "livvic";
    font-weight: 500px;
}
input:focus{
    outline:none;
}
@media (max-width: 992px){
    body {
        height: 100vh;
    }
    svg {
        padding-left: 30px;
    }
    h1 {
        margin-top: -175px;
        margin-left: 25px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 13px;
    }
    .result {
        position: absolute;
        width: 600px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    button {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
    }
}
@media (max-width: 767px){
    body {
        height: 120vh;
    }
    .result {
        position: absolute;
        width: 500px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    button {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
    }
}
@media (max-width: 576px){
    body {
        height: 130vh;
    }
    h1 {
        margin-top: 100px;
        margin-left: 25px;
    }
    h4 {
        font-size: 18px;
    }
    p {
        font-size: 13px;
    }
    .box{
        margin-left: 30px;
    }
    .result {
        position: absolute;
        width: 300px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    button {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
    }
}
@media (max-width: 400px){
    body {
        height: 140vh;
    }
}
@media (max-width: 350px){
    body {
        height: 160vh;
    }
    h1 {
        margin-top: 200px;
        margin-left: 15px;
    }
    .box{
        margin-left: 20px;
    }
}